.cy {
    height: 70vh;
    width: 35vw;
    position: relative;
    background-color: lightgrey;
    border-radius: 15px;
}

.cygs {
    height: 80vh;
    width: 70vw;
    position: relative;
    background-color: lightgrey;
    margin-top: 0;
    /* Remove gap */
}

#proof-mode-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
}


#layout {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.styled-link-og {
    padding: 10px 20px;
    background-color: #1095c1;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.styled-link-og:hover {
    background-color: #1ab3e6;
}



.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.left-space {
    margin-left: 120px;
}

.right-space {
    margin-right: 120px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.grid {
    align-items: flex-start;
    /* Change to align items to the top */
    margin-top: 00px;
    /* Adjust the top margin to bring the buttons closer to the top */
}

.rule-history {
    /* ...existing rule-history styles... */
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    /* Increase width percentage as needed */
    flex: 1 1 auto;
    /* New property */
}

#history-table {
    width: 100%;
}



#history-table tr {
    padding: 8px 10px;
    width: 100%;
    color: #fff;
}

#history-table td {
    padding: 10px;
    width: 100%;
}



#history-body tr:nth-child(even) {
    background-color: #424242;
    /* Update to a slightly deeper blue color */
}

#history-body tr:nth-child(odd) {
    background-color: #a5a5a5;
    /* Update to a lighter blue color */
}


.toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #4f4f4f;
    border: 1px solid #4f4f4f;
    margin: 0;
    padding: 0.1rem 10px;
    /* Adjust the padding to reduce thickness */
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Distribute toolbar contents */
    height: 50px;
    /* Add specific height */
    line-height: 30px;
    /* Align elements to the center of the bar */
}

.toolbar .group {
    border-right: 1px solid #a5a5a5;
    margin-right: 4px;
    display: flex;
    align-items: flex-start;
    text-shadow: 1px 1px 2px black;
    /* Use Flexbox */
}

.toolbar button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.toolbar button:hover,
.toolbar button.active {
    background: #424242;
    border-radius: 5px;
    box-shadow: 0 0 2px #5c5c5c inset;
    outline: 0px;
}

.styled-link {
    padding: 5px 10px;
    background-color: #4f4f4f;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.styled-link:hover {
    background: #424242;
    border-radius: 5px;
    box-shadow: 0 0 2px #5c5c5c inset;
    outline: 0px;
}

.toolbar button:focus {
    outline: none;
}


.vertical-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* This will make the toolbar take up the full height of its container */
    position: sticky;
    top: 0;
    z-index: 100;
    background: #4f4f4f;
    border: 1px solid #4f4f4f;
    border-radius: 5px 10px 0 0;
    margin: 0;
    padding: 0.1rem 10px;
}

.vertical-toolbar button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.vertical-toolbar button :hover,
.vertical-toolbar button.active {
    background: #424242;
    border-radius: 5px;
    box-shadow: 0 0 2px #5c5c5c inset;
    outline: 0px;
}

#selected-node {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 5%;
    background-color: #fff;
    margin: 20px auto;
}

#selected-node-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#selected-node-content h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

#selected-node-content p {
    margin: 5px 0;
    padding: 0;
    font-size: 14px;
    color: #666;
}


#selected-node.success {
    background-color: #4caf50;
    /*force overwrite the previous color and then reset */
    color: #fff;
}
